<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>secret</title>
    <link rel="stylesheet" href="public/style.css">

</head>
<body>

<h1>Secret Dashboard</h1>
<p>Welcome, <%= username %>!</p>

<form method="POST" action="/submit-secret">
  <textarea name="message" placeholder="Write something secret..." required></textarea><br>
  <button type="submit">Submit</button>
</form>

<a href="/logout">Logout</a>
</body>
</html>